header {
  background-color: brown;
  text-align: center;
  padding: 10px;
}

h3{
  background-color: brown;
  text-align:initial;
  padding: 2px;
}

article{
 background-color: brown;
    margin-top: 10px;
    font-size: 10px;
    display: flex;
    gap: 10px; 
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}

article img {
  width: 150px;
  height: auto;
}


article.notica2{
    background-color: brown;
    border: 2px black;
    margin-top: 10px;
    font-size: 10px;
}