
h2 {
    width: 1700px;
    height: 50px;
    background-color: orange;

}

.caja-texto{

    width: 700px;
    height: 230px;
    padding: 10px;
    border: 5px solid;
    margin: 20px;


}

.caja-texto3{

    width: 700px;
    height: 50px;
    padding: 10px;
    border: 5px solid;
    margin: 20px;
}